* {
  margin: 0;
  padding: 0;
}
.padre {
  display: flex;
}
.menu {
  height: 100vh;
  overflow-y: scroll;
}
.origen {
  flex-direction: column;
  list-style: none;
  display: flex;
  overflow-y: auto;
  flex-shrink: 0;
  border-left: 2px solid lightgray;
}

.origen li {
  padding: 30px;
  display: flex;
  justify-content:start;
  border-bottom: 2px solid lightgray;
}
.maria {
  padding-top: 10px;
}
.maria img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
.maria i {
  margin: 10px;
  margin-right: 5px;
  padding-right: 10px;
}
.maria p {
  padding-left: 5%;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.origen button {
  background-color: lavender;
  padding: 15px 70px;
}
.contacto {
  justify-content: end;
  border-bottom: 2px solid lightgray;
}
.contacto p {
  margin-left: 15px;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 320;
  font-style: normal;
}

.contacto img {
  border-radius: 100%;
  width: 50px;
  height: auto;
}
.contenido {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/fondo\ 2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.texto {
  text-align: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}

span {
  text-align: end;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 200;
  font-style: normal;
}